
/*
 *   NRCs
 */

.input-nrc {
    width: 80px;
}

/*
 *  Horario
 */

table, td {
    border: solid #ccc 1px;
}

td, th {
    text-align: center;
}

th {
    color: #fff;
    background: #222;
}

/*
 *  Secciones
 */

.seccion, .seccion-cabecera {
    border: solid #ccc 1px;
    padding: 6px;
    margin: 2px;
}

.seccion:nth-child(even) {
    background: #ddd;
}



.seccion-inscrita-1 {
    background: #FF5733;
}
.seccion-inscrita-2 {
    background: #3393FF;
}
.seccion-inscrita-3 {
    background: #6AD12B;
}

.seccion-inscrita-1, .seccion-inscrita-2, .seccion-inscrita-3 {
    cursor: pointer;
}